* {
  margin: 0 auto;
  padding: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #93cde0;
}

header {
  display: flex;
  width: 100%;
  background-color: #000000;
  color: #f4c4c9;
  align-items: center;
  justify-content: flex-end;

  /* import for to fix the header on top */
  top: 0;
  position: fixed;
  z-index: 1;
  height: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* to show after the header */
  height: calc(100vh - 60px);
  top: 60px;
  position: relative;
}

.lives {
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 200px);
  gap: 1em;
  align-items: center;
  justify-content: center;

  perspective: 1000px;
  background-color: transparent;
  cursor: pointer;
}

.card {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-timing-function: ease-in;

  /* border: 2px solid #f4c4c9; */
  border-radius: 15px;
  background-color: white;

  /*need the size for to be in place */
  width: 150px;
  height: 200px;
}

.card:active,
.memory-game {
  transform: rotateY(180deg);
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: transparent;
  width: 150px;
  height: 200px;
}

/* .fron,
.back:active {
  transform: scale(2);
} */

.front {
}

.back {
  transform: rotateY(180deg);
}

@media (max-width: 390px) {
  .memory-game {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(4, 100px);
  }

  .front,
  .back,
  .card {
    width: 90px;
    height: 100px;
    border-radius: 10px;
  }

  .lives {
    font-size: 1.5rem;
  }
}
