@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #93cde0;
}

header {
  display: flex;
  width: 100%;
  background-color: #000000;
  color: #f4c4c9;
  align-items: center;
  justify-content: flex-end;

  /* import for to fix the header on top */
  top: 0;
  position: fixed;
  z-index: 1;
  height: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* to show after the header */
  height: calc(100vh - 60px);
  top: 60px;
  position: relative;
}

/* ----------------- LIVES AND BUTTON  ----------- */
.wrap {
  display: flex;
  top: 20px;
  position: relative;
}

.container {
  display: flex;
  gap: 1.4rem;
  height: 5rem;
  /* align-items: center; */
}

a {
  text-decoration: none;
  color: #f4c4c9;
  font-size: 12px;
}

.lives {
  font-weight: 700;
}

/* Button CSS */
.reset {
  background-color: #000000;
  border: solid transparent;
  border-radius: 12px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f4c4c9;
  cursor: pointer;
  width: 100px;
  height: 40px;
}

.reset:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.reset:active {
  transform: translateY(4px);
}

/* -------------------CARDS ------------- */

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, 220px);
  align-items: center;
  justify-content: center;
  cursor: pointer;

  /* to make the cards flip 3D*/
  perspective: 1000px;
}

.card {
  /* to make the cards above the others */
  position: relative;
  /* to make the cards flip */
  transform-style: preserve-3d;
  /* transition: transform 0.5s ease-in; */
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  /*need the size for to be in place */
  width: 150px;
  height: 200px;
}

/* to flip when it clicked with the event "click" */
.toggleCard {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 150px;
  height: 200px;
  position: absolute;
  pointer-events: none;
}

.front {
}

.back {
  transform: rotateY(180deg);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* ------------------ MOBILE SIZE ------------- */

@media (max-width: 390px) {
  .memory-game {
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(4, 100px);
    gap: 1em;
  }

  .main {
    top: 20px;
  }

  .front,
  .back,
  .card {
    width: 90px;
    height: 100px;
    border-radius: 10px;
  }

  .lives {
    font-size: 1.5rem;
  }

  .wrap {
    top: 0px;
  }
  .container {
    align-items: center;
  }
}
